<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <title>MattJHodges</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <nav class="siteNav">
        <ul>
          <li>About</li>
          <li>Projects</li>
          <li>Contact</li>
        </ul>
      </nav>
    </header>
    <div class="main">
      <section class="About">
          <h2>About Me</h2>
      </section>
      <section class="Projects">
          <h2>My Projects</h2>
      </section>
      <footer>
        <div class="Contact">
          <h2>Contact Me</h2>
        </div>
        <div class="social">
          <h2>Find Me On...</h2>
        </div>
      </footer>
    </div>
  </body>
</html>
